<%= javascript_pack_tag 'recipes' %>
<section class="container-recipe-new">
  <section class="container">
    <%= form_with model: @recipe, local: true do |f| %>
    <section class="recipe-details">
      <div class="label">
        Recipe Details
      </div>

      <section class="information">
        <div class="details">
          <div class="field">
            <%= f.label :name %><br />
            <%= f.text_field :name, autofocus: true, required: true, autocomplete: 'off' %>
            <%= f.label :image_url %><br />
            <%= f.text_field :img_url, autofocus: true, required: true, autocomplete: 'off' %>
            <%= f.label :video_url %><br />
            <%= f.text_field :video_url, autofocus: true, required: true, autocomplete: 'off' %>
          </div>
        </div>

        <div class="image-preview">
          <img id="imagePreview" src="">
        </div>
      </section>
    </section>
    
    <section class="recipe-ingredients">
      <div class="label recipe-ingredient">
        Ingredients
         <div class="add-btn" id="addBtn"></div>
      </div>
     
      <div class="ingredient-container">
        <div class="ingredient">
          <div class="name">
            <div class="field">
              <%= f.label :name %><br />
              <%= f.text_field "ingredient_hash[ingredient1[name]]", autofocus: true, required: true, autocomplete: 'off' %>
            </div>
          </div>
          <div class="measurement">
            <div class="field">
              <%= f.label :measurement %><br />
              <%= f.text_field "ingredient_hash[ingredient1[measurement]]", autofocus: true, required: true, autocomplete: 'off' %>
            </div>
          </div>
          <%# <div class="close-btn" id="closeBtn"></div> %>
        </div>
        
      </div>
      
    </section>

    <section class="recipe-instructions">
      <div class="label">
        Instructions
      </div>

      <div class="details">
        <div class="field">
          <%= f.text_area :instructions, required: true %>
        </div>
      </div>
    </section>

    <div class="actions recipe">
      <%= f.submit "Create Recipe", class: "btn-red" %>
    </div>
    <% end %>
  </section>
</section>