<section class="container-search-show">
  <section class="container">
    <div class="title">
      <%= @recipe.name %>
    </div>
  
    <div class="ingredients-thumbnail">
      <div class="ingredients">
        <div class="label">
          <span class="highlight-red">Ingredients</span>
        </div>

        <div class="body">
          <%# ingredient item %>
          <%= render partial: "recipes/ingredient", collection: @recipe.ingredients %>
          <%# ingredient item end %>
        </div>  
      </div>

      <div class="thumbnail">
        <img src="<%= @recipe.img_url %>" />
      </div>
    </div>

    <div class="instructions">
      <div class="label">
        <span class="highlight-red">Instructions</span>
      </div>

      <div class="body">
        <p>
          <%= @recipe.instructions %>
        </p>
      </div>
    </div>

    <div class="related-video">

      <div class="label">
        <span class="highlight-red">Related Video</span>
      </div>
      <div class="video-content">
        <%= content_tag(:iframe, '', src: @recipe.video_url, frameborder: 0) %>
      </div>
      
    </div>


    <div class="action-btn centered">
      <%= link_to "Modify recipe", edit_recipe_path(@recipe.id), class: "btn-blue rounded" %>
      <%= link_to "Delete recipe", recipe_path(@recipe.id), method: :delete, class: "btn-red", data: { confirm: "Are you sure?" } %>
    </div>
  </section>

</section>
