<section class="container-search-show">
  <section class="container">
    <div class="title">
      <%= @recipe[:name] %>
    </div>
  
    <div class="ingredients-thumbnail">
      <div class="ingredients">
        <div class="label">
          Ingredients
        </div>

        <div class="body">
          <%# ingredient item %>
          <%= render partial: "searches/ingredient", collection: @recipe[:ingredients] %>
          <%# ingredient item end %>
        </div>  
      </div>

      <div class="thumbnail">
        <img src="<%= @recipe[:thumbnail] %>" />
      </div>
    </div>

    <div class="instructions">
      <div class="label">
        Instructions
      </div>

      <div class="body">
        <p>
          <%= @recipe[:instructions] %>
        </p>
      </div>
    </div>

    <div class="related-video">

      <div class="label">
        Related Video
      </div>
      <div class="video-content">
        <%= content_tag(:iframe, '', src: @recipe[:youtube_url], frameborder: 0) %>
      </div>
      
    </div>
  </section>

</section>