<% if user_signed_in? %>
<nav class="navbar navbar-expand-md navbar-light">
    <%= link_to root_path, class: "logo" do %>
      <span class="blue">Recip</span><span class="red">Ease</span>
    <% end %>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <%= link_to 'Collection', recipes_path, class: "nav-link" %>
        <%= link_to 'Create Recipe', new_recipe_path, class: "nav-link" %>
        <%= link_to 'Search', searches_path, class: "nav-link" %>
        <%= link_to 'Settings', root_path, class: "nav-link mobile" %>
        <%= link_to 'Logout', destroy_user_session_path, method: :delete, class: "nav-link mobile" %>
      </ul>

      <%# <div class="nav-user-links">
        <%= link_to 'Logout', destroy_user_session_path, method: :delete, class: "btn-red desktop" %>
      <%# </div> %>
      <div class="nav-item dropdown desktop">
        <a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button" data-toggle="dropdown" aria-expanded="false">
          Hi <%= current_user.username.capitalize %>
        </a>
        <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarScrollingDropdown">
          <%= link_to 'Settings', root_path, class: "nav-link desktop" %>
          <%= link_to 'Logout', destroy_user_session_path, method: :delete, class: "nav-link desktop" %>
        </ul>
      </div>
        
    </div>
</nav>
<% else %>
<nav class="navbar navbar-expand-md navbar-light">
    <%= link_to root_path, class: "logo" do %>
      <span class="blue">Recip</span><span class="red">Ease</span>
    <% end %>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
      </ul>
      <div class="nav-user-links">
        <%= link_to 'Login', new_user_session_path, class: "nav-link" %>
        <%= link_to 'Try for free', new_user_registration_path, class: "nav-link mobile" %>
      </div>
      <div class="nav-user-links">
        <%= link_to 'Try for free', new_user_registration_path, class: "btn-red desktop" %>
      </div>
    </div>
</nav>
<% end %>