<!DOCTYPE html>
<html>
  <head>
    <title>Recipease</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag asset_path('favicon.png') %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <script src="https://js.stripe.com/v3/"></script>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <section class="flash-message-container">
      <%= render 'layouts/flash_messages' %>
    </section>
    <% unless request.fullpath.start_with?("/users/sign_") %>
    <nav>
      <%= render 'layouts/navigation'%>
    </nav>
    <main>
      <%= yield %>
    </main>
    <footer>
      <%= render 'layouts/footer'%>
    </footer>
    <% else %>
    <main class="max">
      <%= yield %>
    </main>
    <% end %>
  </body>
</html>
