<section class="container-devise-form">
  <section class="container-registration">
    <div class="image">
    
    </div>
    <div class="container-form">
      <div class="logo">
        <%= link_to root_path, class: "logo" do %>
        <span class="blue">Recip</span><span class="red">Ease</span>
        <% end %>
      </div>

      <div class="form">
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <%= render "users/shared/error_messages", resource: resource %>

          <div class="field">
            <%= f.label :email %><br />
            <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
          </div>

          <div class="field">
            <%= f.label :password %>
            <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> characters minimum)</em>
            <% end %><br />
            <%= f.password_field :password, autocomplete: "new-password" %>
          </div>

          <div class="field">
            <%= f.label :password_confirmation %><br />
            <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
          </div>

          <div class="actions">
            <%= f.submit "Create Account", class: "btn-red" %>
          </div>
        <% end %>
        <div class="devise-shared-link">
          <%= render "users/shared/links"  %>
        </div>
        
      </div>
    </div>
  </section>
</section>